<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/koukou/style.css">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p class="error">Hello World of JS!</p>
    <p class="emergency">Please help....</p>
    <p><%= message %></p>
    <img src="/images/panda.jpg" width="30%" />
    <p><%= koukou %></p>
    <p>1000 / 4 = <%= 1000 / 4 %></p>
    <p><% console.log("Front Back ahtarmas!!!"); %></p>
  </body>
</html>
